<div class="jumbotron mt-9">
    <h1 class="display-4">Aplicacion de Seguimiento de Pedido</h1>
    <img class="" src="/src/public/css/images/trazabilidad.jpg"
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi aspernatur perspiciatis totam
        placeat repellat necessitatibus commodi facere vitae quisquam quas facilis sequi eligendi officiis, ad iusto
        tenetur inventore? Soluta, reprehenderit.</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit molestias debitis deserunt expedita amet ex rem
        earum accusantium labore officiis eos quis quia, adipisci dolor quaerat sit molestiae provident ducimus!</p>
</div>